body {
  margin: 0;
  background-image: url('./images/industrial-backdrop.png');
  background-image: url('./images/lost_planet.jpg');
  background-color: #000;
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
}

.navbar {
  height: 85px;
  font-family: monospace;
  line-height: 5px;
}

/* main container - under navbar */
.content-container {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
  grid-template-rows: 100px 2fr 2fr 2fr;
}

.container-fluid {
  display: flex;
  align-items: flex-end;
}


a.navbar-brand {
  font-size: 30px;
  color: #9ff;
}

/* games links */
.nav-link {
  color: rgb(255, 255, 177);
  margin: 0 10px;
  letter-spacing: -.07pc;  
  line-height: 5px;
  /* border-bottom: .5px dotted white; */
}
.nav-link:hover {
  color: rgb(155, 255, 177);
  transform: scale(110%);

}

/* Home Link */
.nav-item .nav-link.active {
  /* font-size: 20px; */
  color: white;
  margin: 0 10px;
  letter-spacing: 0.2pc;
  font-weight: bold;
  border: none;
}
.nav-item .nav-link.active:hover {
  /* font-size: 20px; */
  color: rgb(255, 155, 177);
  transform: scale(110%);

}

.navbar-collapse.show .nav-link {
  margin: 0 10px;
  text-decoration: none;
}

.external .new-tab-icon {
  display: none;
}
.external:hover .new-tab-icon {
  position:absolute;
  left: 0; top: 0;
  display: inline-block;
  width: 30px;
}


.console-container {
  font-family: monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33vw;
  height: calc(33vw * .67);
  margin: auto;
  grid-column: 2;
  grid-row: 2;
  border: 8px inset #557;
}
.console {
  width: 95%; 
  height: 95%;
  /* margin: auto; */
  background-color: #111;
  color: white;
  border: 8px inset #99b;

}